.container {
  background-image: url("../../assets/Herosection/BGbottom2.png"),
    url("../../assets/Herosection/BGbottom1.png"),
    url("../../assets/Herosection/BG.png");
  background-repeat: no-repeat;
  background-position: bottom, bottom, top;
  background-size: contain, contain, auto;
}

.herosection {
  display: flex;
  justify-content: center;
  gap: 110px;
  padding-bottom: 74px;
}

.herosection__left {
  margin-top: 145px;
}

.herosection__subtext {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  padding-top: 12px;
  padding-left: 2px;
  max-width: 601px;
}

.herosection__left h1 span {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

.herosection__left h1 {
  color: #ffffff;
}

.herosection__right {
  margin-top: 46px;
  background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
  box-shadow: 0px 10px 50px 0px #0000001f;
  padding: 51px 28px 56px 28px;
  border-radius: 12px;
}

.herosection__right .herosection__right_contact {
  font-size: 28px;
  font-weight: 700;
  line-height: 34.13px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 34px;
}

/* .herosection__right div {
  display: flex;
  gap: 16px;
} */

.herosection__right__fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Max 2 columns */
  grid-gap: 16px; /* Adjust the gap between items */
  grid-auto-flow: row dense; /* Fill in the odd items */
  max-width: 100%; /* Ensure it doesn't overflow */
}

@media (max-width: 1090px) {
  .herosection {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    padding-bottom: 185px;
  }

  .herosection__left {
    margin-top: 34px;
  }
  .break {
    display: none;
  }

  .container {
    background-image: url("../../assets/Herosection/BGbottom2.png"),
      url("../../assets/Herosection/BGbottom1.png"),
      url("../../assets/Herosection/BGTab.png");
    background-repeat: no-repeat;
    background-position: 0px 100.1%, 0px 100.1%, top;
    background-size: 200% 89px, 200% 111px, cover;
  }

  .herosection__left h1 {
    text-align: center;
  }

  .herosection__subtext {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #ffffffcc;
    /* background: #FFFFFFCC; */

    padding-top: 13px;
    max-width: 574px;
    padding-left: 0px;
    padding-bottom: 3px;
  }

  .herosection__right {
    margin-top: 0px;
  }
}

@media (max-width: 525px) {
  .container {
    background-image: url("../../assets/Herosection/BGbottom2.png"),
      url("../../assets/Herosection/BGbottom1.png"),
      url("../../assets/Herosection/BGTab.png");
    background-repeat: no-repeat;
    background-position: 0px 100.1%, 0px 100.1%, top;
    background-size: 400% 89px, 400% 111px, cover;
  }

  .herosection__left h1 {
    font-size: 36px;
    line-height: 44px;
  }

  .herosection__subtext {
    font-size: 14px;
    line-height: 24px;
  }

  .herosection__right {
    margin-top: 12px;
    width: 80%;
  }

  .herosection__right_contact {
    font-size: 24px;
  }

  .herosection {
    padding-bottom: 167px;
  }

  .herosection__right__fields {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .herosection__right {
    padding: 36px 16px 56px 16px;
  }
}
