.understand-section {
  background: #f5f5f5;
  padding-bottom: 130px;
}

.understand-section h2 span {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #333333;
  color: transparent;
}

.understand-section h2 {
  padding-left: 128px;
  color: #333333;
}

.understand-section__textcontainer {
  columns: 23.188rem auto;
  padding: 0 128px;
  margin-top: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

@media (max-width: 1015px) {
  .understand-section__textcontainer {
    padding: 0 24px;
  }

  .understand-section h2 {
    padding-left: 24px;
  }
}

@media (max-width: 525px) {
  .understand-section__textcontainer {
    padding: 0 16px;
  }

  .understand-section h2 {
    padding-left: 16px;
  }
  /* .understand-section h2 span {
    font-size: 24px;
    line-height: 32px;
  } */

  /* font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 32px;
text-align: left; */
}
