.understand-section {
  background: #f5f5f5;
  padding-bottom: 110px;
}

.understand-section h2 span {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #333333;
  color: transparent;
}

.understand-section h2 {
  padding-left: 128px;
  color: #333333;
}

.understand-section__textcontainer {
  column-count: 3;
  column-gap: 2.25rem;
  padding: 0 128px;
  margin-top: 29px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #333333;
}

@media (max-width: 768px) {
  .understand-section {
    padding-bottom: 95px;
  }
}

@media (max-width: 1015px) {
  .understand-section__textcontainer {
    padding: 0 24px;
    column-count: 2;
    column-gap: 1.5rem;
    column-fill: auto;
    height: 350px;
  }

  .understand-section h2 {
    padding-left: 24px;
  }
}

@media (max-width: 700px) {
  .understand-section__textcontainer {
    column-count: auto;
    height: 100%;
    padding: 0 16px;
  }
}

@media (max-width: 525px) {
  .understand-section h2 {
    padding-left: 16px;
  }

  .understand-section__textcontainer p {
    padding-top: 15px;
    padding-bottom: 17px;
  }
}
