.relative {
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
}

.play-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.outer-circle {
  width: 166px;
  height: 166px;
  border-radius: 100%;
  border: 2px solid #ffffff70;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  background: #5bc8af1a;
}

.outer-circle:hover {
  transform: scale(1.14);
  border: 2px solid #ffffff70;
}

.outer-circle:hover .inner-circle {
  transform: scale(0.9);
}

.inner-circle {
  width: 120.54px;
  height: 120.54px;
  border-radius: 50%;
  background: #5bc8afcc;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  position: absolute;
  transition: transform 0.3s ease;
}

@media (max-width: 1015px) {
  .relative {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
  }
}

@media (max-width: 520px) {
  .relative {
    position: absolute;
    left: 50%;
    top: 71%;
    transform: translate(-50%, -50%);
    width: fit-content;
  }
}
