.carousel {
  margin-top: -30px;
}

.carousel__section {
  display: flex;
  gap: 54px;
  justify-content: center;
  align-items: center;
}

.carousel__items {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: visible !important;
  max-width: 980px;
}

.carousel__buttons {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  gap: 36px;
}

.carousel__button {
  cursor: pointer;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  border-color: transparent;
}

.arrow {
  cursor: pointer;
}

.card-img-top {
  object-fit: cover;
  width: 269px;
  height: 269px;
}

.right__arrow:hover path {
  fill: #5bc8af;
  transition: all 0.3s;
}

.left__arrow:hover path {
  fill: #5bc8af;
  transition: all 0.3s;
}

.slider-card {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 0.3s ease-in-out;
}

.slick-prev {
  left: 25px !important;
}

.slick-next {
  right: 25px !important;
}

.slick-prev::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Cpath d='M36.24 39.76L20.48 24L36.24 8.24L32 4L12 24L32 44L36.24 39.76Z' fill='%23EAEAEA'/%3E%3C/svg%3E") !important;
}

.slick-next::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Cpath d='M11.76 8.24L27.52 24L11.76 39.76L16 44L36 24L16 4L11.76 8.24Z' fill='%23EAEAEA'/%3E%3C/svg%3E") !important;
}

.card-body {
  border-radius: 0px 8px 8px 0px;
  background: #194d44;
  box-shadow: 0px 10px 30px 0px #0000001f;
  margin-left: 36px;
  max-width: 545px;
  flex-shrink: 0;
  padding: 0px 65px;
  color: #fff;
}

.card-body div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 34px;
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  align-items: baseline;
}

.card-body div h5 {
  margin: 0;
}

.card-title-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
}

.card-text {
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.slick-dots li.slick-active button:before {
  color: #5bc8af !important;
}

.slick-dots li button:before {
  font-size: 12px !important;
}

.slick-dots {
  position: relative !important;
  margin-top: 15px !important;
}

@media (max-width: 1170px) {
  .carousel__section {
    gap: 0px;
    padding: 0px 24px;
  }

  .arrow {
    display: none;
  }

  .card-body {
    padding: 0px 33px;
    max-width: 423px;
    width: 100%;
    margin-left: 26px;
  }

  .card-title-name {
    font-size: 18px;
  }

  .card-text {
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    margin-top: 8px;
  }

  .card-img-top {
    object-fit: cover;
    width: 197.63px;
    height: 197.63px;
  }

  .carousel__items {
    max-width: 720px;
  }

  .card-svg {
    width: 40px;
    height: 31px;
  }
}

@media (max-width: 760px) {
  .card-body {
    max-width: 264px;
    margin: 0px;
    padding-bottom: 72px;
    border-radius: 8px;
    padding-top: 112px;
  }

  .card-body div {
    padding-top: 26px;
  }

  .carousel__items {
    max-width: 328px;
    padding-top: 60px;
  }

  .card-img-top {
    position: absolute;
    object-fit: cover;
    width: 180px;
    height: 180px;
    top: -60px;
    left: 32px;
    border-radius: 8px 8px 0px 0px;
  }

  .slider-card {
    padding-top: 1px;
    position: relative;
    flex-direction: column;
  }

  .carousel {
    margin-top: 0px;
  }

  .card-text {
    margin-top: 0px;
    padding-top: 14px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
  }

  .card-svg {
    top: 0px;
  }
}
